/* DASHBOARD STYLES  */
.stats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0.5rem 0.8rem;
    justify-content: space-between;
}
.stats-card{
    display: flex;
    align-items: center;
    padding:2.5rem 3rem;
    gap: 0.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
.stats-card .fa-solid{
    font-size: 2rem;
    color: var(--white);
}
.stats-card .card-text .card-title{
    font-size: 0.985rem;
}
.stats-card .card-text{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    color: var(--white);
}
.stats-card .card-text .count{
    font-size: 1.5rem;
}
.doctor_card{
    background-color: var(--blue);
}
.patient_card{
    background-color: var(--orange);
}
.appointment_card{
    background-color: var(--success);
}

.appointments_wrapper{
    padding:0.4rem 0.5rem;
}
.appointment-wrapper{
    padding:3rem 3rem 3rem 1.5rem;
}
.appointments_wrapper .table-wrapper,.appointment-wrapper .table_listing{
    width: 100%;
    border-collapse: collapse;
}
.table-wrapper, td,th{
    border:1px solid #ddd !important;
    text-align: left;
}
td,th{
    padding:0.7rem 0.6rem;
}

.optionMenu{
    text-align: center;
    position: relative;
}
.optionMenu span{
    cursor: pointer;
}

/* .table-wrapper{
    width: 100%;
    padding:0.5rem;
    border: 1px solid #000 !important;
} */

.doctors_wrapper{
    padding:1.5rem 0.8rem;
    width: 100%;
    margin-top: 5rem;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doctors_wrapper .title-wrapper .create-container button{
    margin-right: 2rem;
    border: none;
    color: var(--white);
    outline: none;
    padding:0.4rem 0.8rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
}
.doctors_wrapper .doctors_listing table{
    margin:0.8rem auto;
    width: 100%;
}

/* START OF PORTAL SETTING PAGE STYLES */
.specialities-wrapper{
    padding:3rem 3rem 3rem 1.5rem;
}
.specialities-wrapper .speciality-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.speciality-header .actions-btn{
    margin-right: 1.2rem;
}
.speciality-header .actions-btn button{
    margin-right: 2rem;
    border: none;
    color: var(--white);
    outline: none;
    padding:0.4rem 0.8rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
}
.speciality-header .actions-btn button .fa-solid{
    margin-right: 0.4rem;
}
.speciality_listing{
    margin-top: 0.8rem;
}
.speciality_listing table{
    width: 100%;
}
.popupMenu .fa-pen-to-square{
    color: var(--success);
}
.popupMenu .fa-trash{
    color: var(--danger);
}

/* END OF ADMIN PROFILE SETTINGS  */

