/* DASHBOARD STYLES  */
.stats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0.5rem 0.8rem;
    justify-content: space-between;
}
.stats-card{
    display: flex;
    align-items: center;
    padding:1.5rem 2.5rem;
    gap: 0.6rem;
}
.stats-card .fa-solid{
    font-size: 2rem;
}
.stats-card .card-text .card-title{
    font-size: 1.25rem;
}
.stats-card .card-text{
    display: flex;
    flex-direction: column-reverse;
}

.appointments_wrapper,.appointment-wrapper{
    padding:0.4rem 0.5rem;
}
.appointments_wrapper .table-wrapper,.appointment-wrapper .table_listing{
    width: 100%;
    border-collapse: collapse;
}
.table-wrapper, td,th{
    border:1px solid #ddd !important;
    text-align: left;
}
td,th{
    padding:0.7rem 0.6rem;
}

.optionMenu{
    text-align: center;
    position: relative;
}
.optionMenu span{
    cursor: pointer;
}

/* .table-wrapper{
    width: 100%;
    padding:0.5rem;
    border: 1px solid #000 !important;
} */

.doctors_wrapper{
    padding:1.5rem 0.8rem;
    width: 100%;
    margin-top: 5rem;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doctors_wrapper .title-wrapper .create-container button{
    margin-right: 2rem;
    border: none;
    color: var(--white);
    outline: none;
    padding:0.4rem 0.8rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
}
.doctors_wrapper .doctors_listing table{
    margin:0.8rem auto;
    width: 100%;
}

/* START OF ADMIN PROFILE PAGE STYLES */
.profile-wrapper{
    padding:3rem 2.5rem;
}
.profile-wrapper .personal_wrapper{
    padding:1.2 rem 0.5rem;
    border: 1px solid #dddd;
    border-radius: 0.5rem;
    padding:0.8rem;
}
.personal_wrapper .personal-title{
    display: flex;
    justify-content: space-between;
}
.personal-title .actions-btn{
    margin-right: 1.2rem;
}
.personal-title .actions-btn button{
    margin-right: 2rem;
    border: none;
    color: var(--white);
    outline: none;
    padding:0.4rem 0.8rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
}
.personal-title .actions-btn button .fa-solid{
    margin-right: 0.4rem;
}
.profile-wrapper .personal_wrapper .row_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.personal_wrapper .row_group .input-col .input-title{
    font-size: 1.15rem;
    text-align: left;
    font-weight: 500;

}
.personal_wrapper .row_group .input-col{
    display: flex;
    width: 49%;
    flex-direction: column;
}
.personal_wrapper .row_group .input-col .input-txt{
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding:0.45rem;
}
.personal_wrapper .row_group .input-col .input-txt .fa-solid{
    margin-right:0.5rem;
}
.profile-wrapper .password_wrapper{
    margin-top:1.5rem;
    border: 1px solid #dddd;
    padding:1.2rem;
    border-radius: 0.8rem;
}

/* END OF ADMIN PROFILE SETTINGS  */

